// Border Radius Mixin
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// Transition Mixin
@mixin transition($transition) {
  -moz-transition: all $transition ease;
  -o-transition: all $transition ease;
  -webkit-transition: all $transition ease;
  -ms-transition: all $transition ease;
  transition: all $transition ease;
}

// Media Query Mixins
@mixin media-breakpoint-up($breakpoint) {
  @if $breakpoint == 'sm' {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $breakpoint == 'md' {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == 'lg' {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $breakpoint == 'xl' {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin media-breakpoint-down($breakpoint) {
  @if $breakpoint == 'sm' {
    @media (max-width: 575.98px) {
      @content;
    }
  } @else if $breakpoint == 'md' {
    @media (max-width: 767.98px) {
      @content;
    }
  } @else if $breakpoint == 'lg' {
    @media (max-width: 991.98px) {
      @content;
    }
  } @else if $breakpoint == 'xl' {
    @media (max-width: 1199.98px) {
      @content;
    }
  }
}
