// Typography
$font-primary: 'Overpass', Arial, sans-serif;
$font-secondary: 'Dosis', Arial, sans-serif;

// Colors
$white: #fff;
$black: #000;
$darken: #4a5562;

$primary: #f86f2d;
$secondary: #fa8f3d;
$tertiary: #faaa3a;
$quarternary: #7cbd1e;
