// Bootstrap imports
@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';

// Variables & Mixins
@import 'variables';
@import 'mixins';

// Base Styles
@import 'base';

// Components
@import 'components/navbar';
@import 'components/buttons';

// Sections & Features
// Hero
.hero-wrap {
  width: 100%;
  height: calc(100vh - 117px);
  min-height: 700px;
  position: relative;

  &.hero-wrap-2 {
    height: 600px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0;
    background: $black;
  }
}

.slider-text {
  color: $white;
  height: 700px;

  h1 {
    font-size: 60px;
    color: $white;
    line-height: 1.2;
    font-weight: 400;

    @include media-breakpoint-down(md) {
      font-size: 40px;
    }
  }

  p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);

    a {
      color: $white;
      border-bottom: 2px solid rgba(255, 255, 255, 0.3);

      span {
        color: $white;
      }
    }
  }

  .breadcrumbs {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    z-index: 99;

    span {
      border-bottom: 2px solid rgba(255, 255, 255, 0.1);
      color: rgba(255, 255, 255, 0.7);

      a {
        color: $white;
      }
    }
  }

  .bread {
    font-weight: 400 !important;
  }

  .btn-outline-white {
    border: 1px solid rgba(255, 255, 255, 0.4) !important;

    span {
      color: $white;
    }

    &:hover {
      span {
        color: $primary;
      }
    }
  }
}

// Owl Carousel
.owl-carousel {
  position: relative;

  .owl-item {
    opacity: 0.4;

    &.active {
      opacity: 1;
    }
  }

  .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;

    .owl-prev,
    .owl-next {
      position: absolute;
      transform: translateY(-50%);
      margin-top: -10px;
      color: $primary !important;
      @include transition(0.7s);

      span {
        &::before {
          font-size: 30px;
        }
      }

      opacity: 0;
    }

    .owl-prev {
      left: 0;
    }

    .owl-next {
      right: 0;
    }
  }

  .owl-dots {
    text-align: center;

    .owl-dot {
      width: 10px;
      height: 10px;
      margin: 5px;
      border-radius: 50%;
      background: lighten($black, 90%);
      position: relative;

      &::after {
        position: absolute;
        top: -2px;
        left: -2px;
        right: 0;
        bottom: 0;
        width: 14px;
        height: 14px;
        content: '';
        border: 1px solid lighten($black, 90%);
        @include border-radius(50%);
      }

      &.active {
        background: lighten($black, 60%);
      }
    }
  }

  &:hover {
    .owl-nav {
      .owl-prev,
      .owl-next {
        opacity: 1;
      }

      .owl-prev {
        left: -25px;
      }

      .owl-next {
        right: -25px;
      }
    }
  }
}

.owl-custom-nav {
  float: right;
  position: relative;
  z-index: 10;

  .owl-custom-prev,
  .owl-custom-next {
    padding: 10px;
    font-size: 30px;
    background: #ccc;
    line-height: 0;
    width: 60px;
    text-align: center;
    display: inline-block;
  }
}

// Intro Section
.ftco-intro {
  margin-top: -80px;

  &.ftco-intro-2 {
    margin-top: 0 !important;
  }

  .block-18 {
    display: block;
    width: 100%;
    padding: 30px;
    color: rgba(0, 0, 0, 0.7);

    &.color-1 {
      background: $primary;
    }

    &.color-2 {
      background: $secondary;
    }

    &.color-3 {
      background: $tertiary;
    }

    .text {
      strong {
        font-size: 60px;
        color: $black;
        font-weight: 300;
      }

      span {
        display: block;
        color: $black;
        font-size: 24px;
      }
    }
  }
}

// Services
.services {
  .icon {
    @include border-radius(50%);

    span {
      font-size: 50px;
      color: $primary;
    }
  }

  h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

// Cause Entry
.carousel-cause {
  &.owl-carousel .owl-stage-outer {
    padding-bottom: 2em;
    position: relative;
  }
}

.cause-entry {
  background: $white;
  border: 1px solid lighten($black, 98%);
  -webkit-box-shadow: 0 3px 66px -24px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 66px -24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 66px -24px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  @include border-radius(4px);

  .img {
    display: block;
    height: 300px;
  }

  .text {
    @include media-breakpoint-up(md) {
      margin-top: -40px !important;
      background: $white;
      width: 90%;
      margin: 0 auto;
    }

    h3 {
      margin-bottom: 20px;

      a {
        color: $black;
      }
    }

    .custom-progress-success {
      background-color: lighten(#ccc, 15%);
      height: 0.3rem;
      border-radius: 4px;
      margin-bottom: 20px;
    }
  }

  span.donation-time {
    font-style: italic;
    color: lighten(#ccc, 1%);
  }

  span.fund-raised {
    color: $black;
  }
}

// About Video Section
.ftco-section-3 {
  padding: 8em 0;
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0.9;
    background: $primary;
  }

  .img {
    width: 100%;
  }

  .img-2 {
    -webkit-box-shadow: 0 3px 66px -24px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 66px -24px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 66px -24px rgba(0, 0, 0, 0.2);
    @include border-radius(4px);

    @include media-breakpoint-down(sm) {
      height: 200px;
      margin-bottom: 40px;
    }
  }
}

.volunteer {
  h3 {
    color: $white;
  }
}

.volunter-form {
  .form-control {
    border: 2px solid rgba(255, 255, 255, 0.7);
    height: 58px !important;
    background: transparent !important;
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 18px;
    border-radius: 0;
    box-shadow: none !important;

    &::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.8);
    }

    &::-moz-placeholder {
      color: rgba(255, 255, 255, 0.8);
    }

    &:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.8);
    }

    &:-moz-placeholder {
      color: rgba(255, 255, 255, 0.8);
    }

    &:focus,
    &:active {
      border-color: $white;
    }
  }

  textarea.form-control {
    height: inherit !important;
  }
}

// Gallery
.gallery {
  width: 25%;
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: rgba(0, 0, 0, 0.2);
    @include transition(0.3s);
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  &.img {
    display: block;
    height: 300px;
  }

  .icon {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0;
    @include border-radius(50%);
    @include transition(0.3s);

    span {
      color: $primary;
    }
  }

  &:hover {
    .icon {
      opacity: 1;
    }

    &::after {
      opacity: 0;
    }
  }
}

// Staff/Donations
.staff {
  padding: 25px;
  background: $white;
  -webkit-box-shadow: 0 3px 66px -24px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 66px -24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 66px -24px rgba(0, 0, 0, 0.2);
  @include border-radius(4px);

  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }

  .info {
    width: calc(100% - 110px);

    h3 {
      font-size: 24px;

      a {
        color: $black;
      }
    }

    span.position {
      display: block;
      margin-bottom: 15px;
      font-size: 14px;
    }
  }

  .img {
    width: 110px;
    height: 105px;
    border: 4px solid lighten($black, 94%);
    @include border-radius(50%);
  }

  .text {
    p {
      margin-bottom: 0;

      span {
        font-size: 20px;
        font-weight: 400;
        color: $quarternary;
      }

      a {
        text-decoration: underline;
      }
    }
  }
}

.ftco-social {
  a {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 2px;
    background: lighten($primary, 40%);
    @include border-radius(50%);

    span {
      color: $primary;
    }
  }
}

// Sections
.ftco-section {
  padding: 7em 0;
  position: relative;

  @include media-breakpoint-down(sm) {
    padding: 6em 0;
  }

  .ftco-sub-title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color: lighten(#ccc, 3%);
    font-family: $font-family-sans-serif;
    font-weight: 300;
  }

  .ftco-primary-title {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.ftco-section-2 {
  position: relative;
  display: block;
  width: 100%;
  overflow-x: hidden;
}

.heading-section {
  .subheading {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 34px;
    font-weight: 400;
    text-transform: uppercase;

    @include media-breakpoint-down(sm) {
      font-size: 28px;
    }
  }

  &.heading-section-white {
    .subheading {
      color: rgba(255, 255, 255, 0.9);
    }

    h2 {
      font-size: 30px;
      color: $white;
    }

    p {
      color: rgba(255, 255, 255, 0.9);
    }
  }
}

// Footer
.ftco-footer {
  font-size: 16px;
  padding: 7em 0;
  background: #252525;

  .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .ftco-footer-widget {
    h2 {
      font-weight: normal;
      color: $white;
      margin-bottom: 40px;
      font-size: 18px;
      font-weight: 400;
      position: relative;
      text-transform: uppercase;
      letter-spacing: 1px;

      &::after {
        position: absolute;
        bottom: -15px;
        left: 0;
        content: '';
        width: 70px;
        height: 1px;
        background: $white;
      }
    }

    ul {
      li {
        a {
          span {
            color: $white;
          }
        }
      }
    }

    .btn-primary {
      background: $white !important;
      border: 2px solid $white !important;

      &:hover {
        background: $white;
        border: 2px solid $white !important;
      }
    }
  }

  p {
    color: rgba($white, 0.7);
  }

  a {
    color: rgba($white, 0.7);

    &:hover {
      color: $white;
    }
  }

  .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: $black;
  }

  .block-21 {
    .text {
      .heading {
        font-size: 18px;

        a {
          color: rgba(255, 255, 255, 0.8);

          &:hover,
          &:active,
          &:focus {
            color: $primary;
          }
        }
      }

      .meta {
        > div {
          display: inline-block;
          font-size: 12px;
          margin-right: 5px;

          a {
            color: lighten($black, 50%);
          }
        }
      }
    }
  }
}

.ftco-footer-social {
  li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;

    a {
      height: 50px;
      width: 50px;
      display: block;
      float: left;
      background: rgba($white, 0.05);
      border-radius: 50%;
      position: relative;

      span {
        position: absolute;
        font-size: 26px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        color: $white;
      }
    }
  }
}

// Blog
.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  height: 270px;
}

.blog-entry {
  border: 1px solid lighten($black, 95%);
  background: $white;
  overflow: hidden;
  @include border-radius(4px);
  -webkit-box-shadow: 0 3px 66px -24px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 66px -24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 66px -24px rgba(0, 0, 0, 0.2);

  @include media-breakpoint-up(md) {
    margin-bottom: 30px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }

  .text {
    position: relative;

    @include media-breakpoint-up(md) {
      width: 90%;
      margin: 0 auto;
      margin-top: -40px;
      background: $white;
    }

    .heading {
      font-size: 20px;
      margin-bottom: 16px;
      font-weight: 400;

      a {
        color: $black;

        &:hover,
        &:focus,
        &:active {
          color: $primary;
        }
      }
    }

    .time-loc {
      font-size: 14px;

      span {
        color: lighten($darken, 30%);

        i {
          color: $primary;
        }
      }
    }
  }

  .meta {
    > div {
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 5px;
      font-size: 15px;

      a {
        color: lighten($black, 50%);
        font-size: 15px;

        &:hover {
          color: lighten($black, 40%);
        }
      }
    }
  }
}

.block-23 {
  ul {
    padding: 0;

    li {
      &,
      > a {
        display: table;
        line-height: 1.5;
        margin-bottom: 15px;
      }

      span {
        color: rgba($white, 0.7);
      }

      .icon,
      .text {
        display: table-cell;
        vertical-align: top;
      }

      .icon {
        width: 40px;
        font-size: 18px;
        padding-top: 2px;
        color: rgba($white, 1);
      }
    }
  }
}

.block-6 {
  margin-bottom: 40px;

  .media-body {
    p {
      font-size: 16px;
    }
  }
}

.block-21 {
  .blog-img {
    display: block;
    height: 80px;
    width: 80px;
  }

  .text {
    width: calc(100% - 100px);

    .heading {
      font-size: 18px;

      a {
        color: $black;

        &:hover,
        &:active,
        &:focus {
          color: $primary;
        }
      }
    }

    .meta {
      > div {
        display: inline-block;
        font-size: 12px;
        margin-right: 5px;

        a {
          color: lighten($black, 50%);
        }
      }
    }
  }
}

// Forms
.form-control {
  height: 58px !important;
  background: $white !important;
  color: $black !important;
  font-size: 18px;
  border-radius: 0;
  box-shadow: none !important;

  &:focus,
  &:active {
    border-color: $black;
  }
}

textarea.form-control {
  height: inherit !important;
}

// Utilities
.ftco-animate {
  opacity: 0;
  visibility: hidden;
}

#section-counter {
  position: relative;
  z-index: 0;
}

// Background Images
.hotel-img,
.hero-wrap,
.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.img-about {
  @include media-breakpoint-down(sm) {
    height: 400px;
    margin-bottom: 30px;
  }
}

// Magnific Popup
.image-popup {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

// Loader
#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  z-index: 1000;
}

#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  box-shadow: none;
}

#ftco-loader.show {
  transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#ftco-loader .circular {
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  transform: rotate(0deg);
}

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}
